@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
    color: #FF5656;
}
html,body{
    height: 100%;
}
#wrap{
    background-color: #FFF617;
    height: 100%;
}
h1.title{
    width: 100%;
    height: 128px;
    line-height: 128px;
    font-family: 'Arbutus', cursive;
    font-size: 48px;
    text-align: center;
    border-bottom: 5px solid #FF5656;
}
.content{
    height: calc(100% - 133px);
}
.arbutus{
    font-family: 'Arbutus', cursive;
}

@media all and (min-width:834px){
    #wrap{
        width: 834px;
        margin: 0 auto;
    }
}