@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');

*{
    font-family: 'Noto Sans KR', sans-serif;
    color: #FF5656;
}
html,body{
    height: 100%;
}
.arbutus{
    font-family: 'Arbutus', cursive;
}
#wrap{
    background-color: #FFF617;
    height: 100%;
}
h1.title{
    width: 100%;
    /* height: 128px; */
    height: 68px;
    line-height: 68px;
    font-family: 'Arbutus', cursive;
    font-size: 28px;
    text-align: center;
}
.content{
    height: calc(100% - 68px);
}

table{
    width: 100%;
    border-collapse: collapse;
}
table tr{
    height: 60px;
    line-height: 60px;
    border-bottom: 3px solid #FF5656;
    box-sizing: border-box;
}
table tr:first-child{
    height: 48px;
    line-height: 48px;
    background-color: #FF5656;
    border-bottom: none;
}
table th{
    font-size: 16px;
    font-weight: 800;
    color: #FFF617;
    box-sizing: border-box;
}
table th:first-child{
    text-align: left;
    padding-left: 16px;
}
table th:last-child{
    width: 88px;
    text-align: right;
    padding-right: 16px;
}

table tr td{
    font-size: 20px;
    font-weight: 900;
    box-sizing: border-box;
}
table tr td:first-child{
    padding-left: 16px;
}
table tr td:last-child{
    text-align: center;
}